body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #6DB3F2;
  background-image: url("../img/bg-img.png"); }

#maincontainer0 {
  max-width: 1020px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 8px;
  border-radius: 5px;
  margin: auto;
  margin-top: 4vw; }

#maincontainer {
  max-width: 980px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  -webkit-box-shadow: 0 0 1px 1px #e0e0e0;
  -moz-box-shadow: 0 0 1px 1px #e0e0e0;
  box-shadow: 0 0 1px 1px #e0e0e0; }

#maintitle {
  font-size: 60px;
  font-weight: lighter;
  color: #2288b7;
  text-align: center; }

#subtitle {
  font-size: 17px;
  font-weight: normal;
  color: #3b3b3b;
  text-align: center;
  padding: 0 0 20px 0;
  max-width: 940px;
  margin: auto;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 0px 0px 1px 0px; }

input[type=text] {
  width: 370px;
  padding: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  float: left; }

#search {
  text-align: left;
  padding: 16px 0px 16px 0px;
  color: #555555;
  display: table;
  margin: 0 auto; }

::placeholder {
  color: #999999;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999; }

:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999999; }

select {
  padding: 8px 8px 6px 8px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  float: left;
  margin-left: 10px; }

table {
  font-family: arial, sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%; }

td {
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px 1px 0px 0px;
  text-align: left;
  padding: 11px;
  color: #555555; }

th {
  padding: 23px;
  overflow: hidden;
  background-color: #eaecec; }

tr:nth-child(even) {
  background-color: #f8f8f8; }

tr:hover {
  background-color: #eee; }

thead {
  border-radius: 25px;
  color: #666666; }

#roundtable {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  max-width: 940px;
  margin: auto; }

.paginationBtn {
  background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -ms-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -o-linear-gradient(top, #ffffff, #ebebeb);
  background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #717171;
  font-size: 12px;
  padding: 6px 10px 6px 10px;
  border: solid #bababa 1px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
  color: #717171; }

.paginationBtn:hover {
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e3e3e3);
  background-image: -moz-linear-gradient(top, #f5f5f5, #e3e3e3);
  background-image: -ms-linear-gradient(top, #f5f5f5, #e3e3e3);
  background-image: -o-linear-gradient(top, #f5f5f5, #e3e3e3);
  background-image: linear-gradient(to bottom, #f5f5f5, #e3e3e3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #717171;
  font-size: 12px;
  padding: 6px 10px 6px 10px;
  border: solid #bababa 1px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px; }

.clickedBtn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #f2f2f2;
  font-size: 12px;
  background: #686868;
  padding: 5px 10px 6px 10px;
  border: solid #565656 1px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #666666;
  margin-left: 5px;
  vertical-align: bottom; }

#paggination {
  padding: 20px 0 0 0;
  display: table;
  margin: 0 auto; }

input, button, submit {
  border: none; }

#searchButton {
  background-image: -webkit-linear-gradient(top, #6ba1f3, #2278f0);
  background-image: -moz-linear-gradient(top, #6ba1f3, #2278f0);
  background-image: -ms-linear-gradient(top, #6ba1f3, #2278f0);
  background-image: -o-linear-gradient(top, #6ba1f3, #2278f0);
  background-image: linear-gradient(to bottom, #6ba1f3, #2278f0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 12px;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  font-weight: 800;
  margin-left: 10px;
  color: #ffffff; }

#searchButton:hover {
  background-image: -webkit-linear-gradient(top, #5390ed, #1f72de);
  background-image: -moz-linear-gradient(top, #5390ed, #1f72de);
  background-image: -ms-linear-gradient(top, #5390ed, #1f72de);
  background-image: -o-linear-gradient(top, #5390ed, #1f72de);
  background-image: linear-gradient(to bottom, #5390ed, #1f72de);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 12px;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  font-weight: 800;
  margin-left: 10px; }

#resetButton {
  background-image: -webkit-linear-gradient(top, #f1f1f1, #c4c4c4);
  background-image: -moz-linear-gradient(top, #f1f1f1, #c4c4c4);
  background-image: -ms-linear-gradient(top, #f1f1f1, #c4c4c4);
  background-image: -o-linear-gradient(top, #f1f1f1, #c4c4c4);
  background-image: linear-gradient(to bottom, #f1f1f1, #c4c4c4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 12px;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  font-weight: 800;
  margin-left: 10px;
  color: #494949; }

#resetButton:hover {
  background-image: -webkit-linear-gradient(top, #e8e8e8, #bdbdbd);
  background-image: -moz-linear-gradient(top, #e8e8e8, #bdbdbd);
  background-image: -ms-linear-gradient(top, #e8e8e8, #bdbdbd);
  background-image: -o-linear-gradient(top, #e8e8e8, #bdbdbd);
  background-image: linear-gradient(to bottom, #e8e8e8, #bdbdbd);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 12px;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  font-weight: 800;
  margin-left: 10px; }

.pound-Empty {
  background-image: -webkit-linear-gradient(top, #fefefe, #dadcdc);
  background-image: -moz-linear-gradient(top, #fefefe, #dadcdc);
  background-image: -ms-linear-gradient(top, #fefefe, #dadcdc);
  background-image: -o-linear-gradient(top, #fefefe, #dadcdc);
  background-image: linear-gradient(to bottom, #fefefe, #dadcdc);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  font-family: Arial;
  font-size: 15px;
  padding: 2px 8px 2px 8px;
  border: solid #8b8b8b 1px;
  text-decoration: none;
  font-weight: 800;
  width: 10px;
  height: 22px;
  float: left;
  margin-left: 5px;
  color: #666666; }

.pound-Full {
  background-image: -webkit-linear-gradient(top, #64c0ea, #4c95dc);
  background-image: -moz-linear-gradient(top, #64c0ea, #4c95dc);
  background-image: -ms-linear-gradient(top, #64c0ea, #4c95dc);
  background-image: -o-linear-gradient(top, #64c0ea, #4c95dc);
  background-image: linear-gradient(to bottom, #64c0ea, #4c95dc);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  font-family: Arial;
  font-size: 15px;
  padding: 2px 8px 2px 8px;
  border: solid #8b8b8b 1px;
  text-decoration: none;
  font-weight: 800;
  width: 10px;
  height: 22px;
  float: left;
  margin-left: 5px;
  color: #ffffff; }

#poundrating {
  width: 180px;
  padding-left: 20px;
  min-width: 100px; }

#referencetab {
  width: 105px;
  text-align: center; }

#valuetab {
  width: 70px;
  text-align: right;
  padding-right: 35px; }

#supliertab {
  padding-left: 25px;
  min-width: 100px; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 6vw;
  padding: 20px;
  border: 1px solid #888;
  max-width: 600px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 0 5px 3px #777;
  -moz-box-shadow: 0 0 5px 3px #777;
  box-shadow: 0 0 5px 3px #777; }

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 15px;
  font-weight: bold;
  padding: 0px;
  margin-left: 10px; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.modaltable tr td {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 15px; }

.modal-table {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */
